/* TOUTES LES PAGES */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    align-items: center;
}

/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
/* MENU HAMBURGER */
.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: greenyellow;
  background-color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #cd0de6;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 500px rgba(233, 7, 203, 0.5);
  height: 40vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
    top: 5px;
    right: 15px;
    margin-left: 15%;
    position: absolute;
    color: #cd0de6;
    font-size: 35px;
    font-weight: 700;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}


.s_header {
    background-color: rgb(0, 0, 0);
    padding: 1%;
}

.ban {
    background-image: url(img/banniere.png);
    height: 80vh;
    background-size: cover;
}
a {
    text-decoration: none;
    color: white;
}

.h-one {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    background-color: #cd0de6;
    margin: 0 36%;
    margin-bottom: 1%;
    margin-top: 20%;
    opacity: 0.90;
    padding: 0.5%;
}
/* FOOTER */
.footer {
    background-color: black;
    color: white;
    padding: 2%;
    z-index: 5;
    position: relative;
}
.contact {
    margin: 0 10%;
}
.droit {
    margin: 0 10%;
}
.partenaire {
    margin: 0 10%;
}

/* LA PAGE INDEX */
.row {
    display: flex;
    flex-direction: row;
}
.center {
    background-color: #cd0de6;
    padding: 10%;
    text-align: justify;
}
h2,
h4 {
    text-align: center;
    margin-bottom: 1%;
}
.section_carte {
    background-color: black;
    opacity: 0.70;
    color: white;
    padding: 2%;
}

.soft {
    margin: 0 10%;
}
.alcool {
    margin: 0 10%;
}
.miam {
    margin: 0 10%;
}
.prix_lib {
    display: flex;
    flex-direction: row;
}
.prix {
    margin: 0 10%;
}

/* LA PAGE FORROW */
.form {
    background-color: black;
    color: white;
    padding: 5%;
    margin: 12% 35%;
    text-align: center;
    box-shadow: #ce6cdb 8px 8px 10px;
    border: #cd0de6 1px solid;
    border-radius: 10%;
}
.selection {
    margin-top: 5%;
    margin-bottom: 2%;
}
input {
    padding: 1%;
}

/* LA PAGE BOARDGAMES */
#listGame {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}
.top {
    margin-top: 10%;
}
article {
    margin-left: 10%;
    padding: 2%;
    border : 5px black solid;
    border-radius: 7%;
    margin-bottom: 2%;
    background-color: black;
    color: #cd0de6;
    text-align: center;
}
.btn_detail {
    padding: 5%;
    background-color: #0cbb0c;
    border: #055f05 2px inherit;
}
#detailMore {
    text-align: justify;
    margin-left: -20%;
    padding: 2%;
    border-left: #cd0de6 2px solid;
    position: fixed;
    right: 0;
    top: 50%;
    width: 20%;
    margin-top: -5%;
}
.btn_reserv {
    color: black;
    background-color: #cd0de6;
    padding: 5%;
    margin: 0 35%;
    justify-content: center;
}


@media screen and (max-width: 992px){
    /* PAGE ACCUEIL */
    .ban {
        background-image: none;
        background-color: black;
        height: 40vh;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .h-one,
    .logo {
        visibility: hidden;
    }
    /* PAGE BOARDGAMES */
    .top {
        margin-top: 40%;
    }
    #detailMore {
        margin: auto;
        position: initial;
        width: 90%;
    }

    /* PAGE FORROW */
    .mobile {
        display: flex;
        flex-direction: column;
        margin-top: 30%;
    }
}